
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'registro.css' %}">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>¡Bienvenido!</h1>
            <p>Inicia sesión en tu cuenta</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">email electrónico</label>
                <input type="email" id="email" name="email" placeholder="tu@email.com" required>
            </div>
            
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" placeholder="••••••••" required>
            </div>
            
            <div class="form-options">
                <div class="remember-me">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Recordarme</label>
                </div>
                <a href="/recuperar" class="forgot-password">¿Olvidaste tu contraseña?</a>
            </div>
            
            <button type="submit" class="btn-login">Iniciar Sesión</button>
        </form>
        
        <div class="divider">
            <span>o</span>
        </div>
        
        <div class="register-link">
            ¿No tienes cuenta?<a href="{% url 'Registrar' %}">Regístrate aquí</a>
            <br>
            <a href="{% url 'home' %}">Presiona aqui para Volver!</a>
        </div>
    </div>
</body>
</html>